.form {
    display: flex;
    align-items: flex-end;

    &__field {
        display: flex;
        flex-flow: column nowrap;
        padding-right: 25px;
    }

    &__label {
        font-size: 12px;
        font-weight: 600;
    }

    &__input {
        font-family: inherit;
        margin-top: 5px;
        padding-left: 5px;
        height: 25px;
        width: 57px;

        &--date {
            width: 120px;
            word-spacing: -2px;

            &::-webkit-calendar-picker-indicator {
                margin-left: 0;
            }
        }
    }

    &__button {
        background-color: #fff;
        padding-left: 0;
        width: 75px;
        box-shadow: 1px 2px #000;
        cursor: pointer;


        &:hover {
            background-color: #f0f0f0;
        }
    }
}
