.history {
    border: 2px solid #000;
    min-height: 250px;
    max-height: 420px;
    margin-top: 15px;
    overflow: hidden;
    padding: 0 15px 10px;

    &__list {
        list-style-type: none;

        &__item {
            border-bottom: 2px solid #000;
            display: flex;
            font-size: 14px;
            justify-content: space-between;
            padding: 10px 0;
        }
    }
}