.chart {
    margin-top: 15px;

    &__switches {
        display: flex;
    }

    &__radio {
        display: none;
    }

    &__switch {
        border: 1px solid #000;
        border-left: none;
        flex: 1 auto;
        font-size: 14px;
        padding: 2px 0;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: #f0f0f0;
        }

        &--week {
            border-left: 1px solid #000;
        }

        &--lifetime {

        }

        &__selected {
            background-color: #f0f0f0;
        }
    }

    &__graph {
        border: 2px solid #000;
        height: 300px;
        margin-top: 15px;
        width: 500px;
    }
}

.cards {
    padding-bottom: 40px;

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        margin-top: 20px;
    }
}

.card {
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0;
    text-align: center;
    justify-content: space-between;

    flex: 1 200px;

    &__weight {
        font-size: 40px;
        font-weight: bold;
        line-height: 1;
    }
    
    &__title {
        font-size: 16px;
        font-weight: normal;
        padding: 20px 0;

        &--long--title {
            padding: 10px 0;
        }
    }

    &--wide {
        flex-grow: 1;

        .card__title {
            font-size: 20px;
            padding: 15px 0;
        }
    }
}
