@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'form';
@import 'history';
@import 'statistics';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: auto;
    min-width: 400px;
    padding-left: 22px;
    width: 77%;
}

.main-heading {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;
}

.section {
    margin-top: 20px;

    &__heading {
        font-weight: normal;
    }
}
